{% extends "base.jinja.html" %}

{% block style %}
<style>
    .Country-container {
        transition: translate 1s ease-in-out;
        max-width: 100%;
        margin: 10px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .Country-container .card {
        display: grid;
        grid-template-columns: 17% 1fr;
        /* background-color: #2a2a2a; */
        background-color: var(--background);
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        height: min-content;
        color: var(--text);
    }

    .Country-container .photo-container {
        margin-right: 12px;
        background-color: #555;
        border-radius: 15px;
        overflow: hidden;
        height: 150px;
        max-height: 150px;
    }

    .Country-container .channel-wrapper {
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .Country-container .channelName {
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--text);
        cursor: pointer;
    }

    .Country-container .text-container .showCaseAnimation {
        margin-left: 0;
        transition: 0.35s width ease-in-out;
    }

    .Country-container .text-container .channel-wrapper:hover .showCaseAnimation {
        width: 103%;
    }

    .Country-container .text-container {
        display: flex;
        flex-direction: column;
        color: var(--text);
        justify-content: space-between;
        padding: 5px;
    }

    .Country-container .text-container .timestamp {
        font-size: 11px;
        font-weight: 600;
        opacity: 0.8;
    }

    .news-title {
        color: var(--text);
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 1.2rem;
        line-height: 1.3;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: red;
        text-underline-offset: 2px;

    }

    .news-title:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: orange;
    }

    .news-subtitle {
        font-size: 14px;
    }

    .showCaseAnimation {
        user-select: none;
        background-color: red;
        height: 3px;
        width: 0px;
        margin-top: -8px;
        margin-left: 15px;
        transition: width 0.8s ease-in-out;
    }

    body.dark-theme .options {
        background-color: #2a2a2a;
    }

    .push-down {
        translate: 0px 120px;
    }

    .follow-btn {
        /* background: #444; */
        background-color: #b3ccff;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
    }
</style>
<style>

</style>
{% endblock %}


{% block content %}
<section style="margin-top: 160px; display: flex; flex-direction: column; width: 75%; position: relative;">
    <div style="display: flex; align-items: center; gap: 3%;">
        <div style="width: max-content;">
            <h1 style="text-align: left; margin-left: 15px; user-select: none;">{{ session['state'][0] }}</h1>
            <div class="showCaseAnimation"></div>
        </div>
        <div class="options"
            style="height: 100%; border: 1px var(--text) solid; padding: 7px 15px 10px 15px; width: max-content; cursor: pointer; border-radius: 7px;"
            onclick="(()=>{ document.querySelector('.Country-container').classList.toggle('push-down') })()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders2"
                viewBox="0 0 16 16" style="scale: 2.1; fill: blue;">
                <path fill-rule="evenodd"
                    d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5M12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5M1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8m9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5m1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
            </svg>
        </div>
        <!-- changes state -> [state, country] -->
        <button type="button" style="position: absolute; right: 20px;" class="follow-btn" onclick="followbutton(event)">★ <span class="{{ 'hidden' if session.get('following', None) and [state, country] in session['following'].get('states',[])  else ''}}">Follow</span> </button>
        
    </div>

    <div id="push-down" style="display: flex; gap: 10px; flex-wrap: wrap; position: absolute; top: 75px; padding: 0px 25px 25px 25px;">
        {% for state in states %}
        <div>
            <a class="state-item" href="/world/{{country}}/{{state}}" style="cursor: pointer; text-decoration: none;" >{{ state }}</a>
            <div></div>
        </div>
        {% endfor %}
    </div>
    <div class="Country-container" style="position: relative;">
        <!-- card structure -->
        <!-- <div class="card">
            <div class="photo-container">
                <div style="width: 100%; height: 100%;" ></div>
            </div>
            <div class="text-container">
                <div>
                    <a class="news-title">linkfsdfsdfjsdksdn iojoioijjoijoij ijoimoiioioj nolnoinduifcnsuidf nsdiofnsduifheiofnew iojfioefneiodfncerio iodjweioijrwe</a>
                    <div style="font-size: 14px;"> -time stamp </div>
                </div>
                <div class="channel-wrapper">
                    <a class="channelName"> BBC </a>
                    <div class="showCaseAnimation"></div>
                </div>
            </div>
        </div> -->
        <div id="loader" class="card" style="width: 100%; height: 182px; display: flex; align-items: center; justify-content: center;"> <div>loading....</div> </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('style')[1].innerHTML = `.push-down{
                                                                    translate: 0px ${document.getElementById('push-down').offsetHeight}px
                                                                    }`
        loadNews();
        setTimeout(() => document.querySelector('.showCaseAnimation').style.width = '95%', 200);
    })

    function fromNow(dateString) {
        const now = new Date();
        const date = new Date(dateString);
        const seconds = Math.floor((now - date) / 1000);
        const rtf = new Intl.RelativeTimeFormat('en', { numeric: 'auto' });

        const intervals = [
            ['year', 31536000],
            ['month', 2592000],
            ['day', 86400],
            ['hour', 3600],
            ['minute', 60],
            ['secound', 1]
        ];

        for (var i = 0; i < intervals.length; i++) {
            var unit = intervals[i][0];
            var secondsInUnit = intervals[i][1];
            var delta = Math.floor(seconds / secondsInUnit);
            if (Math.abs(delta) >= 1) {
                return rtf.format(-delta, unit);
            }
        }

        return "just now";
    }

    let offset = 0;
    const limit = 10;
    const country = {{ country | tojson }}
    const state = {{ state | tojson }}
    let loading = false;

    async function loadNews() {
        if (loading) return;

        loading = true;
        document.getElementById("loader").style.display = "block";

        const res = await fetch(`/api/world/${country}/${state}?offset=${offset}&limit=${limit}`);
        const data = await res.json();
        const container = document.querySelector(".Country-container");
        
        if (data.length === 0) {
            const card = document.createElement('div')
            card.classList.add('card')
            card.innerHTML = `
                No News Available for this local area
            `
            card.style = 'display: flex; align-items:center; justify-content: center; min-height: 180px;'
            container.appendChild(card)
        }

        data.forEach(item => {
            const card = document.createElement('div')
            card.classList.add('card')
            card.innerHTML =
                `
                <div class="photo-container">
                    <div style="width: 100%; height: 100%;" ></div>
                </div>
                <div class="text-container">
                    <div>
                        <a class="news-title" href="/info/${item.channelName}/${item._id}"> ${item.headline} </a>
                        <div class="timestamp"> - ${fromNow(item.timestamp)} </div>
                    </div>
                    <div class="channel-wrapper">
                        <a class="channelName" href="/newsShowCase/${item.channelName}"> ${item.channelName} </a>
                        <div class="showCaseAnimation"></div>
                    </div>
                </div>
                `
            container.appendChild(card);
        });

        offset += data.length;
        if (data.length < limit) {
            window.removeEventListener("scroll", handleScroll);
        }
        document.getElementById("loader").style.display = "none";
        loading = false;
    }
    function handleScroll() {
        const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
        if (scrollTop + clientHeight >= scrollHeight - 150) {
            loadNews();
        }
    }
    window.addEventListener("scroll", handleScroll);


    async function followbutton(e) {
        res = await fetch('/auth/currentlyLoggedIn')
        data = await res.json()

        if (data.statusCode !== 200) {
            console.log("unauthorized")
            alert("sign in first")
        }
        else {
            res = await fetch(
            `/api/world/${country}/${state}`,
            {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ state: state })
            }
        )
        data = await res.json()
        if (data['message'] === 'Follow')
            if (e.target.tagName == "BUTTON")
                e.target.querySelector('span').classList.add('hidden')
            else
                e.target.classList.add('hidden')
        else
            if (e.target.tagName == "BUTTON")
                e.target.querySelector('span').classList.remove('hidden')
            else
                e.target.classList.remove('hidden')
        }
    }

</script>
{% endblock %}